:root{
  --color1:  #2E8BC0;
  --color2: #242424f6;
  --color3: #7E8E90;
  --color4: #DFE2E7;
  --color5: #EB6037;
  --color6: #76B947;
  --color7: rgb(58, 72, 94);	
  --color8: rgb(46, 57, 75);
  --color9:  rgba(255, 255, 255, 0.603);
  --color10: #268AD9;
  --color11: #e2b2a4ee;
  --color12: rgb(69, 85, 110);
  --color13: rgba(46, 57, 75, 0.541);
  --color14: rgba(94, 115, 150, 0.541);
  --color15:  rgba(230, 230, 230, 0.274);
}



.navbar {
  transition: .5s;
}

.navbar-app{
    background: var(--color8) !important;
    box-shadow: 0 .1rem .6rem rgba(0, 0, 0, 0.479);
}


.navbar-scroll {
  background: rgba(31, 40, 54, 0.932) !important;
  transition: .3s;
}



.navbar-brand {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.navbar-toggler {
  border: none!important;
  outline: none!important;

}

.navbar-toggler i {
  color: white;
}

.nav-link{
  border: none!important;
  outline: none!important;
  color: white!important;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: .5s;
}

.image-nav {
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 400px !important;
  position: relative !important;
  background: linear-gradient(to right, hsla(197, 38%, 28%, 0.404), hsla(194, 35%, 19%, 0.548), hsla(198, 43%, 11%, 0.548)), url('../img/diseno-web.jpg');
  background-attachment: fixed;

}

#letter:hover{
  color: var(--color5) !important;
}
#letteron:hover{
 background-color: var(--color5) !important;
 border-radius: 4px;
 transition: width .3s;
}

@media (min-width: 1300px){
  
  .container a{
    font-size: 15px !important;
  }


}


@media (min-width: 992px) {

  .navbar {
    background: transparent;
    transition: .5s;
  }
  .brand .navbar-brand {
    font-size: 7px !important;
    border: none!important;
    outline: none!important;
    font-family: 'Roboto', sans-serif;
    color: #fff!important;
  }

  .navbar-nav .nav-item .nav-link{
    color: white!important;
  }
  .nav-link {
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;

  }
  .nav-link::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: width .3s;
  }

  .nav-link:hover::after {
    width: 45%;
    transition: width .3s;
  }

}

@media (min-width: 150px) {

    .navbar {
      background: transparent;
      transition: .5s;
    }
    .brand .navbar-brand {
      font-size: 2px !important;
      border: none!important;
      outline: none!important;
      font-family: 'Roboto', sans-serif;
      color: #fff!important;
    }

    .nav-link{
      color: white!important;
    }
    .nav-link {
      margin-left: 30px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;

    }
    .nav-link::after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      transition: width .3s;
    }

    .nav-link:hover::after {
      width: 45%;
      transition: width .3s;
    }


  }
  
  
html{
background-color: white;
}

body { min-height: 100vh; }


.body-app{
    background-color: var(--color8);
}

#contenido{

background-color: var(--color8);
}


.border-navar{
  position: absolute;
  bottom: 0;
  width: 100%;
}



.fisrtbrand{
  text-decoration: none;
  color: var(--color1);
}


.main{
  text-decoration: none;
  list-style: none;

}

.main ul h2{
  color: #3a6daa;
}

.main ul li{
  list-style: none;
  margin-bottom: 20%;
}

.main ul li h6{
  color: #8eb5e2;
}



.avatar-size{
    margin-right: 20px;
    height: 25px;
    border-radius: 20px;
}

#panel{
margin-bottom: 0%;
}


#panel-tittle{
    font: 30px Montserrat;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color12);
}


#panel .row{
    margin-bottom: 30px;
    height: 290px;
    width: 60%;
    margin-left: 200px;
}


.option{
    position: relative;
    box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.123);
    border-radius: 4px;
    background-color: #fff;

}


.areaoption{
    text-transform: capitalize;

}


.areaoption .head{
    margin-top: 15%;
    height: 90px;
     text-align: center;
}


.areaoption .body{
    height: 125px;
     text-align: center;
     border-radius: 4px;
}



.uploadcurriculum{
    position: absolute;
    margin-left: 30px;
    margin-top: 100px;
    width: 90%;
    height: 600px;
    align-items: center;
    text-align: center;
}


.uploadlist{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 600px;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


.pdfcurriculum img{
    height: 3.5em;
    margin: .5rem;

}

.pdfcurriculum h2{
     margin: 2%;

}


.pdfcurriculum  h2{
    font-size: 9px;
}


.delete{
    position: absolute;
    display: flex;
    border: none;
    width: 20px;
    height: 40px;
    background: none;
    background-image: url(/public/img/delete.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin: 30px;
    top: 52%;
}



.items-var-myarea{
    height: auto;
    text-transform:capitralize;

}


.iconspanel li{
  display:block !important;
  float:left !important;
}

.iconspanel li a{
  color: var(--color4);
  font-size: 14px !important;
}


@import url('https://fonts.googleapis.com/css?family=Cabin:500,700|Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,900');


.header{
	position:relative !important;
	width:100%;
	height:8rem;
	border-bottom: 8px solid var(--color14) !important;
	background-position:center !important;
	background-size:cover;
}

.imgr{
	position:relative !important;
	background-position:center !important;
	background-color: none;
	background-size:cover;
}

.header button{
  top: 2%;
  border: none;
	position:relative;
	float: right;
	width:35px;
	height:35px;
	margin-right:7px;
	border-radius: 100%;
	padding:0px 9px 0px 7px;
	transition:0.2s;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
}

.header button:hover{
	width:130px;
	height:35px;
	margin-right:15px;
	border-radius: 1000px;
	padding:0px 9px 0px 7px;
	bottom: 5px;
	right: 5px;
	transition:.2s;
}

.header button i{
	float:right;
	color: #017e71;
	font-size:18px;
}

.header button:hover i{
	display:none;
	transition: 1s;
}

.header button .text{
	display:none;
	font-family: 'Quicksand', sans-serif;
	font-size:10px;
	font-weight: 600;
	transition: 1s;
}

.header button:hover .text{
	display:inline-block;
	transition: 1s;
}

.avatar{
	z-index:1;
	position: relative;
    margin: auto;
	margin-top: -80px;
	width: 130px;
	height: 130px;
	border-radius: 100%;
	border: 6px solid var(--color14);
	background: url("http://meredithcnn.images.worldnow.com/images/10389401_G.jpg");
	background-size: cover;
	background-position: center;
}

.content{
	position:relative;
}

.tituloperfil h1{
	font-weight: 700;
	color: #fff;;
	font-size:18px;
	text-align:center;
	margin-top:20px;
}

.tituloperfil p{
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}


/* Estilo para dispositivos m贸veis */
@media screen and (max-width: 1000px) {
	.bimenu{
		display: block;
	}
}

/* Estilo para dispositivos m贸veis */
@media screen and (max-width: 550px) {
	
   .header button:hover{
		position:relative;
		float: right;
		width:50px;
		height:50px;
		margin-right:15px;
		border-radius: 100%;
		padding:0px 15px 0px 15px;
		top: 130px;
		right: 5px;
		transition:0.2s;
		-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
		box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	}

	.header button:hover i{
		display: inline-block;
		float:right;
		color: #333;
		font-size:18px;
	}
	
	.header button:hover .text{
		display:none;
		font-family: 'Quicksand', sans-serif;
		font-size:15px;
		font-weight: 600;
		transition: 1s;
	}
	
	.opperfil button{
		z-index:0;
		position: relative;
		margin: auto;
		margin-left:0px;
		width:140px;
		height:40px;
		border-radius: 1000px;
		padding:0px 35px 0px 10px;
		-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
		box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	}

	.opperfil button:nth-child(2){
		margin-left: 100px;
		padding:0px 15px 0px 35px;
	}

	.opperfil button .text{
		font-family: 'Quicksand', sans-serif;
		font-size:12px;
		font-weight: 600;
	}
	
	.tituloperfil h1{
		font-family: 'Cabin', sans-serif;
		color:#444;
		font-size:30px;
		text-align:center;
		margin-top:20px;
	}

	.tituloperfil p{
		font-family: 'Quicksand', sans-serif;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		color: #777;
	}
}

/* Estilo para dispositivos m贸veis */
@media screen and (max-width: 450px) {
	
	.header{
		position:relative;
		width:100%;
		height:120px;
		border-bottom: 3px solid #fff;
		background-color: #ffffff;
		background-position:center;
		background-color: #ffffff;
		background-image: url("https://i.ytimg.com/vi/TN2fJ24pKXs/maxresdefault.jpg");
		background-size:cover;
	}
	
   .header button, button:hover{
		position:relative;
		float: right;
		width:50px;
		height:50px;
		margin-right:15px;
		border-radius: 100%;
		padding:0px 15px 0px 15px;
		top: 50px;
		right: 5px;
		transition:0.2s;
		-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
		box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	}

	.header button:hover i{
		display: inline-block;
		float:right;
		color: #333;
		font-size:18px;
	}
	
	.header button:hover .text{
		display:none;
		font-family: 'Quicksand', sans-serif;
		font-size:15px;
		font-weight: 600;
		transition: 1s;
	}
	
	.avatar{
		z-index:1;
		position: relative;
		margin: auto;
		margin-top: -50px;
		width: 120px;
		height: 120px;
		border-radius: 100%;
		border: 4px solid rgba(255, 255, 255, 1);
		background: url("http://meredithcnn.images.worldnow.com/images/10389401_G.jpg");
		background-size: cover;
		background-position: center;
	}
	
	.opperfil button{
		z-index:0;
		position: relative;
		margin: auto;
		margin-left:0px;
		width:140px;
		height:40px;
		border-radius: 1000px;
		padding:0px 35px 0px 10px;
		-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
		box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	}

	.opperfil button:nth-child(2){
		margin-left: 50px;
		padding:0px 15px 0px 35px;
	}

	.opperfil button .text{
		font-family: 'Quicksand', sans-serif;
		font-size:11px;
		font-weight: 600;
	}
	
	.tituloperfil h1{
		font-size:15px !important;
		text-align:center;
		margin-top:20px;
	}

	.tituloperfil p{
		font-size: 10px;
		text-align: center;
	}
	
	.bigbriefing{
		display: none;
	}
	
	.smallbriefing{
		display: block;
	}
	
}

/* Estilo para dispositivos m贸veis */
@media screen and (max-width: 350px) {
	
	.avatar{
		z-index:1;
		position: relative;
		margin: auto;
		margin-top: -50px;
		width: 90px;
		height: 90px;
		border-radius: 100%;
		border: 4px solid rgba(255, 255, 255, 1);
		background: url("http://meredithcnn.images.worldnow.com/images/10389401_G.jpg");
		background-size: cover;
		background-position: center;
	}
	
}


.image-nav-blue {
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 460px !important;
  position: relative !important;
  background-attachment: fixed;
  
  }


